<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
    <h3>Users</h3>
    <hr>

    <table>
        <th>
            <tr>
                <th>First name</th>
                <th>Last name</th>
                <th>Age</th>
            </tr>
        </th>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.getFirstName()}"/>
                <td th:text="${user.getLastName()}"/>
                <td th:text="${user.getAge()}"/>
            </tr>
        </tbody>
    </table>
</body>
</html>